# Spark SQL

O Spark SQL é usado para acessar dados estruturados com Spark.

## Spark SQL e RDD's

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql import Row

In [2]:
print(sc)

<SparkContext master=local[*] appName=PySparkShell>

In [3]:
# Spark Session - usada quando se trabalha com Dataframes no spark
spSession = SparkSession.builder.master("local").appName("DSA-SparkSQL").config("spark.some.config.option", "some-value").getOrCreate()

In [4]:
# Criando o SQL Contect para trabalhar com o Spark SQL
sqlContext = SQLContext(sc)

In [5]:
# Importanto o arquivo e criando um RDD
linhaRDD1 = sc.textFile("data/carros.csv")

In [6]:
linhaRDD1.count()

198

In [7]:
# Removendo a primeira linha - Transformação 1
linhaRDD2 = linhaRDD1.filter(lambda x: "FUELTYPE" not in x)

In [8]:
linhaRDD2.count()

197

In [9]:
# Dividindo o conjunto de dados em colunas - Tranformação 2
linhaRDD3 = linhaRDD2.map(lambda line: line.split(","))

In [10]:
# Dividindo o conjunto de dados em colunas - Transformação 3
linhaRDD4 = linhaRDD3.map(lambda p: Row(make = p[0], body = p[4], hp = int(p[7])))

In [11]:
# Cada linha vira um objeto
?Row

In [12]:
linhaRDD4.collect()

[Row(body='hatchback', hp=69, make='subaru'),
 Row(body='hatchback', hp=48, make='chevrolet'),
 Row(body='hatchback', hp=68, make='mazda'),
 Row(body='hatchback', hp=62, make='toyota'),
 Row(body='hatchback', hp=68, make='mitsubishi'),
 Row(body='hatchback', hp=60, make='honda'),
 Row(body='sedan', hp=69, make='nissan'),
 Row(body='hatchback', hp=68, make='dodge'),
 Row(body='hatchback', hp=68, make='plymouth'),
 Row(body='hatchback', hp=68, make='mazda'),
 Row(body='hatchback', hp=68, make='mitsubishi'),
 Row(body='hatchback', hp=68, make='dodge'),
 Row(body='hatchback', hp=68, make='plymouth'),
 Row(body='hatchback', hp=70, make='chevrolet'),
 Row(body='hatchback', hp=62, make='toyota'),
 Row(body='hatchback', hp=68, make='dodge'),
 Row(body='hatchback', hp=58, make='honda'),
 Row(body='hatchback', hp=62, make='toyota'),
 Row(body='hatchback', hp=76, make='honda'),
 Row(body='sedan', hp=70, make='chevrolet'),
 Row(body='sedan', hp=69, make='nissan'),
 Row(body='hatchback', hp=68, make='mitsubishi'),
 Row(body='sedan', hp=68, make='dodge'),
 Row(body='sedan', hp=68, make='plymouth'),
 Row(body='sedan', hp=68, make='mazda'),
 Row(body='sedan', hp=78, make='isuzu'),
 Row(body='hatchback', hp=68, make='mazda'),
 Row(body='sedan', hp=69, make='nissan'),
 Row(body='hatchback', hp=76, make='honda'),
 Row(body='wagon', hp=62, make='toyota'),
 Row(body='sedan', hp=70, make='toyota'),
 Row(body='sedan', hp=88, make='mitsubishi'),
 Row(body='hatchback', hp=73, make='subaru'),
 Row(body='sedan', hp=55, make='nissan'),
 Row(body='sedan', hp=82, make='subaru'),
 Row(body='hatchback', hp=76, make='honda'),
 Row(body='hatchback', hp=70, make='toyota'),
 Row(body='sedan', hp=76, make='honda'),
 Row(body='wagon', hp=76, make='honda'),
 Row(body='sedan', hp=69, make='nissan'),
 Row(body='wagon', hp=69, make='nissan'),
 Row(body='sedan', hp=68, make='mazda'),
 Row(body='wagon', hp=82, make='subaru'),
 Row(body='sedan', hp=69, make='nissan'),
 Row(body='hatchback', hp=73, make='subaru'),
 Row(body='sedan', hp=68, make='dodge'),
 Row(body='sedan', hp=68, make='plymouth'),
 Row(body='hatchback', hp=102, make='mitsubishi'),
 Row(body='sedan', hp=70, make='toyota'),
 Row(body='sedan', hp=82, make='subaru'),
 Row(body='sedan', hp=52, make='volkswagen'),
 Row(body='hatchback', hp=56, make='toyota'),
 Row(body='hatchback', hp=69, make='nissan'),
 Row(body='hatchback', hp=86, make='honda'),
 Row(body='wagon', hp=62, make='toyota'),
 Row(body='sedan', hp=56, make='toyota'),
 Row(body='hatchback', hp=102, make='dodge'),
 Row(body='hatchback', hp=102, make='plymouth'),
 Row(body='sedan', hp=85, make='volkswagen'),
 Row(body='sedan', hp=52, make='volkswagen'),
 Row(body='wagon', hp=69, make='nissan'),
 Row(body='wagon', hp=82, make='subaru'),
 Row(body='sedan', hp=70, make='toyota'),
 Row(body='sedan', hp=88, make='mitsubishi'),
 Row(body='sedan', hp=85, make='volkswagen'),
 Row(body='hatchback', hp=70, make='toyota'),
 Row(body='hardtop', hp=69, make='nissan'),
 Row(body='hatchback', hp=70, make='toyota'),
 Row(body='hardtop', hp=116, make='toyota'),
 Row(body='sedan', hp=84, make='mazda'),
 Row(body='sedan', hp=85, make='volkswagen'),
 Row(body='hatchback', hp=88, make='mitsubishi'),
 Row(body='wagon', hp=62, make='toyota'),
 Row(body='sedan', hp=86, make='honda'),
 Row(body='hatchback', hp=84, make='mazda'),
 Row(body='wagon', hp=88, make='dodge'),
 Row(body='wagon', hp=88, make='plymouth'),
 Row(body='sedan', hp=92, make='toyota'),
 Row(body='hatchback', hp=97, make='nissan'),
 Row(body='hatchback', hp=86, make='honda'),
 Row(body='sedan', hp=82, make='subaru'),
 Row(body='sedan', hp=70, make='toyota'),
 Row(body='sedan', hp=116, make='mitsubishi'),
 Row(body='sedan', hp=116, make='mitsubishi'),
 Row(body='sedan', hp=112, make='toyota'),
 Row(body='sedan', hp=68, make='volkswagen'),
 Row(body='hatchback', hp=112, make='toyota'),
 Row(body='sedan', hp=97, make='nissan'),
 Row(body='hardtop', hp=116, make='toyota'),
 Row(body='hatchback', hp=116, make='mitsubishi'),
 Row(body='sedan', hp=94, make='subaru'),
 Row(body='hatchback', hp=90, make='volkswagen'),
 Row(body='hatchback', hp=92, make='toyota'),
 Row(body='hatchback', hp=116, make='toyota'),
 Row(body='sedan', hp=100, make='volkswagen'),
 Row(body='wagon', hp=94, make='subaru'),
 Row(body='sedan', hp=84, make='mazda'),
 Row(body='sedan', hp=86, make='honda'),
 Row(body='sedan', hp=100, make='honda'),
 Row(body='hatchback', hp=84, make='mazda'),
 Row(body='sedan', hp=73, make='toyota'),
 Row(body='sedan', hp=92, make='toyota'),
 Row(body='hatchback', hp=101, make='mazda'),
 Row(body='hatchback', hp=90, make='isuzu'),
 Row(body='hardtop', hp=116, make='toyota'),
 Row(body='hatchback', hp=84, make='mazda'),
 Row(body='hatchback', hp=92, make='toyota'),
 Row(body='sedan', hp=111, make='subaru'),
 Row(body='hatchback', hp=116, make='toyota'),
 Row(body='convertible', hp=90, make='volkswagen'),
 Row(body='wagon', hp=111, make='subaru'),
 Row(body='hatchback', hp=101, make='mazda'),
 Row(body='hatchback', hp=110, make='saab'),
 Row(body='sedan', hp=97, make='peugot'),
 Row(body='sedan', hp=110, make='saab'),
 Row(body='wagon', hp=88, make='volkswagen'),
 Row(body='wagon', hp=97, make='peugot'),
 Row(body='hatchback', hp=145, make='mitsubishi'),
 Row(body='hatchback', hp=145, make='plymouth'),
 Row(body='sedan', hp=114, make='volvo'),
 Row(body='sedan', hp=101, make='honda'),
 Row(body='hatchback', hp=145, make='dodge'),
 Row(body='sedan', hp=95, make='peugot'),
 Row(body='sedan', hp=110, make='volkswagen'),
 Row(body='wagon', hp=114, make='volvo'),
 Row(body='convertible', hp=111, make='alfa-romero'),
 Row(body='sedan', hp=152, make='nissan'),
 Row(body='sedan', hp=152, make='nissan'),
 Row(body='hatchback', hp=101, make='mazda'),
 Row(body='sedan', hp=68, make='volkswagen'),
 Row(body='wagon', hp=95, make='peugot'),
 Row(body='sedan', hp=102, make='audi'),
 Row(body='wagon', hp=152, make='nissan'),
 Row(body='hatchback', hp=145, make='mitsubishi'),
 Row(body='hatchback', hp=145, make='mitsubishi'),
 Row(body='hatchback', hp=110, make='saab'),
 Row(body='sedan', hp=110, make='audi'),
 Row(body='sedan', hp=110, make='saab'),
 Row(body='sedan', hp=95, make='peugot'),
 Row(body='hatchback', hp=135, make='mazda'),
 Row(body='sedan', hp=156, make='toyota'),
 Row(body='wagon', hp=156, make='toyota'),
 Row(body='sedan', hp=114, make='volvo'),
 Row(body='hatchback', hp=161, make='toyota'),
 Row(body='sedan', hp=101, make='bmw'),
 Row(body='convertible', hp=111, make='alfa-romero'),
 Row(body='hatchback', hp=154, make='alfa-romero'),
 Row(body='hatchback', hp=175, make='mercury'),
 Row(body='wagon', hp=114, make='volvo'),
 Row(body='hatchback', hp=161, make='toyota'),
 Row(body='sedan', hp=97, make='peugot'),
 Row(body='wagon', hp=95, make='peugot'),
 Row(body='sedan', hp=114, make='volvo'),
 Row(body='sedan', hp=95, make='peugot'),
 Row(body='sedan', hp=101, make='bmw'),
 Row(body='wagon', hp=95, make='peugot'),
 Row(body='hatchback', hp=160, make='nissan'),
 Row(body='sedan', hp=115, make='audi'),
 Row(body='convertible', hp=116, make='toyota'),
 Row(body='sedan', hp=110, make='audi'),
 Row(body='sedan', hp=95, make='peugot'),
 Row(body='sedan', hp=142, make='peugot'),
 Row(body='hatchback', hp=160, make='saab'),
 Row(body='sedan', hp=120, make='mazda'),
 Row(body='sedan', hp=72, make='mazda'),
 Row(body='hatchback', hp=160, make='nissan'),
 Row(body='sedan', hp=162, make='volvo'),
 Row(body='sedan', hp=160, make='saab'),
 Row(body='wagon', hp=110, make='audi'),
 Row(body='wagon', hp=162, make='volvo'),
 Row(body='sedan', hp=160, make='volvo'),
 Row(body='hatchback', hp=200, make='nissan'),
 Row(body='sedan', hp=121, make='bmw'),
 Row(body='sedan', hp=121, make='bmw'),
 Row(body='sedan', hp=134, make='volvo'),
 Row(body='hatchback', hp=143, make='porsche'),
 Row(body='sedan', hp=106, make='volvo'),
 Row(body='sedan', hp=114, make='volvo'),
 Row(body='sedan', hp=140, make='audi'),
 Row(body='sedan', hp=121, make='bmw'),
 Row(body='sedan', hp=123, make='mercedes-benz'),
 Row(body='hardtop', hp=123, make='mercedes-benz'),
 Row(body='wagon', hp=123, make='mercedes-benz'),
 Row(body='sedan', hp=182, make='bmw'),
 Row(body='sedan', hp=123, make='mercedes-benz'),
 Row(body='sedan', hp=176, make='jaguar'),
 Row(body='hardtop', hp=207, make='porsche'),
 Row(body='hardtop', hp=207, make='porsche'),
 Row(body='sedan', hp=155, make='mercedes-benz'),
 Row(body='convertible', hp=155, make='mercedes-benz'),
 Row(body='sedan', hp=176, make='jaguar'),
 Row(body='sedan', hp=262, make='jaguar'),
 Row(body='sedan', hp=182, make='bmw'),
 Row(body='convertible', hp=207, make='porsche'),
 Row(body='sedan', hp=184, make='mercedes-benz'),
 Row(body='sedan', hp=182, make='bmw'),
 Row(body='hardtop', hp=184, make='mercedes-benz')]

In [13]:
# Criando um dataframe a partir do RDD
linhaDF = spSession.createDataFrame(linhaRDD4)

In [14]:
linhaDF.show()

+---------+---+----------+
|     body| hp|      make|
+---------+---+----------+
|hatchback| 69|    subaru|
|hatchback| 48| chevrolet|
|hatchback| 68|     mazda|
|hatchback| 62|    toyota|
|hatchback| 68|mitsubishi|
|hatchback| 60|     honda|
|    sedan| 69|    nissan|
|hatchback| 68|     dodge|
|hatchback| 68|  plymouth|
|hatchback| 68|     mazda|
|hatchback| 68|mitsubishi|
|hatchback| 68|     dodge|
|hatchback| 68|  plymouth|
|hatchback| 70| chevrolet|
|hatchback| 62|    toyota|
|hatchback| 68|     dodge|
|hatchback| 58|     honda|
|hatchback| 62|    toyota|
|hatchback| 76|     honda|
|    sedan| 70| chevrolet|
+---------+---+----------+
only showing top 20 rows

In [15]:
type(linhaDF)

pyspark.sql.dataframe.DataFrame

In [16]:
linhaDF.select("*").show()

+---------+---+----------+
|     body| hp|      make|
+---------+---+----------+
|hatchback| 69|    subaru|
|hatchback| 48| chevrolet|
|hatchback| 68|     mazda|
|hatchback| 62|    toyota|
|hatchback| 68|mitsubishi|
|hatchback| 60|     honda|
|    sedan| 69|    nissan|
|hatchback| 68|     dodge|
|hatchback| 68|  plymouth|
|hatchback| 68|     mazda|
|hatchback| 68|mitsubishi|
|hatchback| 68|     dodge|
|hatchback| 68|  plymouth|
|hatchback| 70| chevrolet|
|hatchback| 62|    toyota|
|hatchback| 68|     dodge|
|hatchback| 58|     honda|
|hatchback| 62|    toyota|
|hatchback| 76|     honda|
|    sedan| 70| chevrolet|
+---------+---+----------+
only showing top 20 rows

In [17]:
linhaDF.orderBy("make").show()

+-----------+---+-----------+
|       body| hp|       make|
+-----------+---+-----------+
|  hatchback|154|alfa-romero|
|convertible|111|alfa-romero|
|convertible|111|alfa-romero|
|      sedan|110|       audi|
|      wagon|110|       audi|
|      sedan|140|       audi|
|      sedan|110|       audi|
|      sedan|115|       audi|
|      sedan|102|       audi|
|      sedan|121|        bmw|
|      sedan|121|        bmw|
|      sedan|182|        bmw|
|      sedan|182|        bmw|
|      sedan|101|        bmw|
|      sedan|182|        bmw|
|      sedan|121|        bmw|
|      sedan|101|        bmw|
|  hatchback| 70|  chevrolet|
|      sedan| 70|  chevrolet|
|  hatchback| 48|  chevrolet|
+-----------+---+-----------+
only showing top 20 rows

In [18]:
# Registrando o dataframe como uma temp Table
linhaDF.createOrReplaceTempView("linhaTB")

In [19]:
# Executando queries SQL ANSI
spSession.sql("select * from linhaTB where make = 'nissan'").show()

+---------+---+------+
|     body| hp|  make|
+---------+---+------+
|    sedan| 69|nissan|
|    sedan| 69|nissan|
|    sedan| 69|nissan|
|    sedan| 55|nissan|
|    sedan| 69|nissan|
|    wagon| 69|nissan|
|    sedan| 69|nissan|
|hatchback| 69|nissan|
|    wagon| 69|nissan|
|  hardtop| 69|nissan|
|hatchback| 97|nissan|
|    sedan| 97|nissan|
|    sedan|152|nissan|
|    sedan|152|nissan|
|    wagon|152|nissan|
|hatchback|160|nissan|
|hatchback|160|nissan|
|hatchback|200|nissan|
+---------+---+------+

In [20]:
# Executando queries SQL ANSI (avg = média)
spSession.sql("select make, body, avg(hp) from linhaTB group by make, body").show()

+-------------+-----------+-----------------+
|         make|       body|          avg(hp)|
+-------------+-----------+-----------------+
|       nissan|      wagon|96.66666666666667|
|       subaru|      sedan|             90.2|
|     plymouth|      sedan|             68.0|
|        dodge|  hatchback|             90.2|
|       nissan|      sedan|             89.0|
|        honda|      sedan|             89.8|
|   mitsubishi|  hatchback|            105.0|
|        mazda|      sedan|82.66666666666667|
|  alfa-romero|convertible|            111.0|
|mercedes-benz|convertible|            155.0|
|     plymouth|      wagon|             88.0|
|mercedes-benz|      wagon|            123.0|
|        isuzu|  hatchback|             90.0|
|       toyota|convertible|            116.0|
|        mazda|  hatchback|             89.4|
|    chevrolet|      sedan|             70.0|
|      mercury|  hatchback|            175.0|
|      porsche|  hatchback|            143.0|
|        honda|      wagon|             76.0|
|      porsche|convertible|            207.0|
+-------------+-----------+-----------------+
only showing top 20 rows