## Temp Tables

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql import Row

In [2]:
spSession = SparkSession.builder.master("local").appName("DSA-SparkSQL").config("spark.some.config.option", "some-value").getOrCreate()
sqlContext = SQLContext(sc)

In [3]:
funcDF = spSession.read.json("data/funcionarios.json")

In [4]:
# Registrando o dataframe como temp table
funcDF.createOrReplaceTempView("funcTB")

In [5]:
spSession.sql("select * from funcTB where salario = 6700").show()

+------+-----+---------------+-------+----+
|deptid|idade|           nome|salario|sexo|
+------+-----+---------------+-------+----+
|  1000|   36|Bruno Velasquez|   6700|   m|
+------+-----+---------------+-------+----+

In [6]:
# Criando Temp Table
sqlContext.registerDataFrameAsTable(funcDF, "funcTB2")

In [7]:
type(funcTB2)

NameError: name 'funcTB2' is not defined

In [8]:
# Persistindo a Temp Table
funcTB3 = spSession.table("funcTB2")

In [9]:
type(funcTB3)

pyspark.sql.dataframe.DataFrame

In [10]:
# Comparando o Dataframe com a tabela temporaria criada
sorted(funcDF.collect()) == sorted(funcTB3.collect())

True

In [11]:
# Aplicando o filtro
sqlContext.registerDataFrameAsTable(funcDF, "funcTB2")
funcTB3 = spSession.table("funcTB2")
funcTB3.filter("idade = '42'").first()

Row(deptid='1000', idade='42', nome='Josias Rebelo', salario='7000', sexo='m')

In [12]:
# Drop temp table
sqlContext.dropTempTable("funcTB2")